<html>
  <head>
    <title><%= page.title %></title>
    <meta name='view' content='special'>
    <meta name='description' content='<%= page.description %>'>
    <link rel='canonical' href='<%= page.url %>'>
  </head>
  <body>
      <h1><%= page.name %></h1>
      <h2>This is a special template.</h2>
      <p><%- page.content %></p>
  </body>
</html>
